body{
  margin: 0;
background:#00838f ;
}

main{
  padding-left: 250px;
  padding-right: 8px;
}

.card{

height: auto;
}

.card-others{
  margin-top: 20vh;
  height: auto;
}
.card-title{
  text-align: center;

}


.pop-logo{

    width: 50%;
    height: 50%;
}
.logo{
  text-align: center;
}
.white-text> h3{
  font-size: 33px;
  margin: 0;
}
.welcome{
  border-bottom: solid #e0e0e0 0.5px;
}
span{
  padding: 5px;
}

.waves-effect.waves-cyan .waves-ripple {
      background-color: #00838f;
    }
.bouton{
  padding-bottom: 20px;
  padding-top: 10px;
}

.btn{
  width: 15em;
}
.burger{
  width: 1.5em;
  text-align: center;
}
.text a{
  color: #00acc1;
  text-decoration: underline;

}

.card p{
  font-size: 15px;
}
.titreApi{
  padding-top: 15px;
}
h4{
  font-weight: 600;
  color: #00acc1;
  margin: 0;
}
h5{
  font-weight: 600;
  font-size: 35px;
  color: #00acc1;
  margin: 0;
  padding-top: 10px;
}

.arrow{
  margin-top: 5px;
  position: absolute;
}
.menu a {
  color: #00acc1;
}


.md1-layout__drawer{
  background: #grey;
}

@media screen and (min-width: 320px) and (max-width:762px){
body{
  
}
main{
  padding-left: 8px;
}
.card{
  margin-top: 12vh;
}
}

@media screen and (min-width: 310px) and (max-width:320px){

.card{
  margin-top: 8vh;
}
}
