body{
  margin: 0;
background:#4db6ac ;
}
body::selection{
  background: #4db6ac;

}
main{
  padding-left: 250px;
  padding-right: 8px;
}

.card{

height: auto;
}
.side-nav.fixed a{
  color : #FFF;
}
.card-others{

  height: auto;
}
.card-title{
  text-align: center;

}


.titre{
  color: #37474f;
}

.contenu{
 color: #00ACC1;
}
.veilletitre{
  color: #00838f;
}
.pop-logo{

    width: 50%;
    height: 50%;
}
.logo{
  text-align: center;
}
.white-text> h3{
  font-size: 33px;
  margin: 0;
}
.welcome{
  border-bottom: solid #ECEFF1 0.5px;
}
span{
  padding: 5px;
}

.waves-effect.waves-cyan .waves-ripple {
      background-color: #00838f;
    }
.bouton{
  padding-bottom: 20px;
  padding-top: 10px;
}

.poprandom{
  top: 15px;
  right: 15px;
  position: relative;
}

.poprandom .btn{
	width: 10em;
}

.btn{
  width: 15em;
}

.burger{
  width: 1.5em;
  text-align: center;
}
.text a{
  color: #00acc1;
  text-decoration: underline;

}

.feed-title{
  font-size: 22px;
}

.hello{

}
.card p{
  font-size: 15px;
}
.titreApi{
  padding-top: 15px;
}
h4{
  font-weight: 600;
  color: #4db6ac;
  margin: 0;
}
h5{
  font-weight: 600;
  font-size: 35px;
  color: #00acc1;
  margin: 0;
  padding-top: 10px;
}

.arrow{
  margin-top: 5px;
  position: absolute;
}
.menu a {
  color: #00acc1;
}
.spin{
  border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
	cursor: pointer;
}

.spin:hover{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.modal-content .circle{
  border-radius: 0;
}
.md1-layout__drawer{
  background: #grey;
}


.forbiden .svg{
  width: 150px;
  position: relative;
}

.forb-text{
  font: impact;
  font-size: 75px;
  color: white;
  font-weight: bolder;
}

.forb-text span{
  font-size: 100px;
}

@media screen and (min-width: 320px) and (max-width:762px){
body{

}
main{
  padding-left: 8px;
}
.card{
  margin-top: 12vh;
}

.poprandom .btn{
  width: 0.5em;
  text-align: center;
}


@media screen and (min-width: 310px) and (max-width:320px){

.card{
  margin-top: 8vh;
}


}
